<div class="reply" id="c_reply">
    <div class="yiyou">
        <ul>
            <li class="single_post row">
                <div class="user_card col-md-1">
                    <div class="x"><img src="../static/images/android.png" alt=""></div>
                </div>
                <div class="user_content col-md-11">
                    <span class="user_id"><a href="#">白衬衫：</a></span>
                    <span class="user_c">很高兴你还能往后看 我觉得应该没有几个人了</span>
                </div>
                <div class="warp"><span style="margin-right:3px">时间：2017/11/30 20:20:80</span><span id="w_re">回复</span></div>
            </li>
            <li class="single_reply row">
                <div class="user_card col-md-1"><img src="../static/images/user.jpg" alt=""></div>
                <div class="user_content col-md-11">
                    <span class="user_id"><a href="#">你爸</a></span><span>回复</span><span class="user_replier"><a href="#">白衬衫：</a></span>
                    <span class="user_c">我看你妈呢</span>
                </div>
                <div class="warp"><span style="margin-right:3px">时间：2017/11/30 20:20:80</span><span id="w_re">回复</span></div>
            </li>

        </ul>
    </div>
    <div class="reply_content">
        <textarea class="textarea" name="content"></textarea>
        <input type='button' value="发布" href="" class="mdl-button mdl-js-button mdl-button--raised sendBtn" />
    </div>
</div>
