<div name="onediv" class="reply" th:each="reply,iterStat : ${ps?.items}">
    <div class="yiyou">
            <li class="single_post row">
                <div class="user_card col-md-1">
                    <div class="x"><img src="../static/images/android.png" alt=""></div>
                </div>
                <div class="user_content col-md-11">
                    <span class="user_id"><a href="#" th:text="${reply?.user?.account}"></a></span>
                    <span th:if="${reply?.touser != ''}">回复：<span><a href="#" th:text="${reply?.touserbean?.account}"></a></span></span>
                    <span class="user_c" th:text="${reply?.content}"></span>
                </div>
                <div name="warp" class="warp" th:touser="${reply?.user?.id}" th:commentid="${reply?.comment?.id}" th:replyid="${reply?.id}" th:tuname="${reply?.user?.account}" replytype="reply" ><span style="margin-right:3px" th:text="${#dates.format(reply?.ctime, 'yyyy-MM-dd HH:mm')}"></span>
                <button name="replyone">回复</button>
                </div>
            </li>
    </div>
</div>
<form name="fm_info_cm" th:action="@{/replyinput}">
	 <div class="reply_content">
	     <textarea class="textarea" name="content"></textarea>
	     <input type="hidden" name=commentid value=""/>
	     <input type="hidden" name=touser value="" />
	     <input type="hidden" name=replyid value="" />
	     <input type="hidden" name=replytype value="" />
	     <input type="hidden" name=newsid value="" />
	     <input type="button" name="submit" value="发布" class="mdl-button mdl-js-button mdl-button--raised sendBtn" />
	 </div>
</form>
