<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>login</title>
<link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
</head>

<body class="layout-full">
<div class="page-login text-center">
  <div class="page">
    <div class="page-content vertical-align-middle">
      <div class="brand"> <img src="#" alt="geeklogo">
        <h3>极客头条</h3>
      </div>
      <p>Sign into your pages account</p>
      <form action="">
        <div class="form-group">
          <label class="sr-only" for="inputEmail">邮件地址</label>
          <input type="email" class="form-control" id="inputEmail" name="username" placeholder="输入邮箱" autofocus>
        </div>
        <div class="form-group">
          <label class="sr-only" for="inputPassword">密码</label>
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="密码" autocomplete="off">
        </div>
        <div class="form-group clearfix">
          <div class="checkbox-custom checkbox-inline pull-left">
            <input type="checkbox" id="inputCheckbox" name="rememberme">
            <label for="inputCheckbox">自动登录</label>
          </div>
          <a class="pull-right" href="#">忘记密码？</a> </div>
        <button type="submit" class="btn btn-primary btn-block" d="login">登录</button>
      </form>
      <p> 还没有极客头条账户? <a href="#">立即注册</a></p>
    </div>
  </div>
</div>
<script src="../static/js/jquery-3.2.0.min.js" th:src="@{/js/jquery-3.2.0.min.js}"></script> 
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
