<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" id="viewport" content="width=device-width, initial-scale=1">
<title>文章详情</title>
<link rel="stylesheet" href="../static/fonts/font-awesome.min.css" th:href="@{/css/fonts/font-awesome.min.css}">
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/release-n.css" th:href="@{/css/release-n.css}">
<link rel="stylesheet" href="../static/css/material-icons.css" th:href="@{/css/material-icons.css}">
</head>

<body>
<div class="">
<div class="return-top" id="back-to-top">
<a href="javascript:returnTop();"><i class="material-icons">vertical_align_top</i></a>
</div>
<div class="return-edit">
<a th:href="|/News/${geeknews?.id}|"><i class="material-icons">edit</i></a>
</div>
<div class="article-top">
    <div class="container">
        <dl class="geek_list title">
            <dd>
                <h3  class="title" th:text="${geeknews?.title}"></h3>
                <ul class="list-inline">
                </ul>
            </dd>
        </dl> 
		<ol class="breadcrumb">
		  <li><a href="/">首页</a></li>
		  <li><a th:href="|/tarticle/${geeknews?.theme?.id}|"><span th:text="${geeknews?.theme?.themename}"></span></a></li>
		  <li class="active"><span th:text="${geeknews?.title}"></span></li>
		</ol>
    </div>
</div>
<div class="container">
    <div class="release-content">
	    <div id="editormds">
	    	<textarea style="display:none;" th:text="${geeknews?.content}"></textarea>
		</div>
	</div>
    <div class="footer-bar">
        <div class="user-photo"> <img src="/images/user.jpg" class="avatar" alt=""> </div>
        <div class="user-right"> <a href="#" class="user-name">枯骨树先生</a>
            <div class="information"><span>发布于</span><a th:href="|/tarticle/${geeknews?.theme?.id}|"><span th:text="${geeknews?.theme?.themename}"></span></a><span th:text="${#dates.format(geeknews?.ctime, 'yyyy-MM-dd HH:mm')}"></span></div>
        </div>
    </div>
    
    <div class="commentBox">
        <div class="box Jinput">发表评论…</div>
        <div class="Jcommentform comment-form" style="display: none;">
            <form name="fm_info_cm" th:action="@{/commentinput}">
                <a href="#"><img class="userimage" alt="枯骨树先生" src="/images/user.jpg" height="28px" width="28px"></a>
                <textarea class="textarea" name="comment" style="margin-top: 0px; margin-bottom: 0px; height: 36px;width:100%;border-radius: 5px;border: 1px #666 solid;"></textarea>
                <input th:value="${geeknews?.id}" name="newsid" type="hidden">
                <div class="clearfix">
                    <input type="button" name="submit" class="mdl-button mdl-js-button mdl-button--raised sendBtn"  data-upgraded=",MaterialButton" value="发布评论">
                    <button class="Jformhide mdl-button mdl-js-button mdl-button--raised cancelBtn" type="button" data-upgraded=",MaterialButton">取消</button>
                </div>
            </form>
        </div>
    </div>
    
    <div class="wcl-list" name="comment_load_box" th:each="comment,iterStat : ${ps?.items}">
        <ul name="JCommentUl" class="comment-ul" th:remove="all-but-first">
            <li>
                <a target="_blank" href="#" title="枯骨树先生"><img width="60px" height="60px" class="userimage" src="../static/img/header.jpg" alt="网信" th:src="${(citem?.user?.logo != null && !#strings.isEmpty(citem?.user?.logo)) ? citem?.user?.logo : '/images/user.jpg'}" th:alt="${citem?.user?.name}"></a>
                <div class="userdiv">
                    <div class="user-info">
                        <div class="name"><a target="_blank" href="#" title="枯骨树先生" >枯骨树先生</a></div>
                		<div class="text" th:text="${comment?.comment}"></div>
                        <div class="time"><spam th:text="${#dates.format(comment?.ctime, 'yyyy-MM-dd HH:mm')}"></spam></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

</div>
</div>
<div style="height: 60px;"></div>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script> 
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/base.js}"></script>
<script src="../static/js/editor_md/editormd.min.js" th:src="@{/js/editor_md/editormd.min.js}"></script>
<script src="../static/js/editor_md/lib/marked.min.js" th:src="@{/js/editor_md/lib/marked.min.js}"></script>
<script src="../static/js/editor_md/lib/prettify.min.js" th:src="@{/js/editor_md/lib/prettify.min.js}"></script>
<script src="../static/js/editor_md/lib/raphael.min.js" th:src="@{/js/editor_md/lib/raphael.min.js}"></script>
<script src="../static/js/editor_md/lib/underscore.min.js" th:src="@{/js/editor_md/lib/underscore.min.js}"></script>
<script src="../static/js/editor_md/lib/sequence-diagram.min.js" th:src="@{/js/editor_md/lib/sequence-diagram.min.js}"></script>
<script src="../static/js/editor_md/lib/flowchart.min.js" th:src="@{/js/editor_md/lib/flowchart.min.js}"></script>
<script src="../static/js/editor_md/lib/jquery.flowchart.min.js" th:src="@{/js/editor_md/lib/jquery.flowchart.min.js}"></script>

<script type="text/javascript">
  $(function() {
      var editor = editormd.markdownToHTML("editormds", {
          path: "[[@{/js/editor_md/lib/}]]",
      });
  });
</script> 
<script>
$(function() {

    // 显示/隐藏
    var e = e || event;
    $(document).on('click', ".drop-up", function() { $(".drop-down").hide(); })
    $(document).on('click', ".drop-open", function() { $(".drop-down").slideDown(); })

    $(document).on('click', ".pv-cancel", function() { $(".form-group").hide(300); })
    $(document).on('click', ".pv-follow-btn", function() { $(".form-group").slideDown(); })

    // 评论切换
    $(document).on("click", ".Jinput", function() {
        $(this).hide().next(".Jcommentform").fadeIn("fast");
        $(".textarea[name='content']").focus();
        $(this).closest(".commentBox").find("[name='confirm']").val(""); //加载后将变量重置
        $(this).closest(".commentBox").find("[name='content']").val(""); //加载后将变量重置
    });

    // 加载评论 ok
    $(document).on("click", "[name=LoadComments]", function() {
        var init_JCommentUl = $(this).closest(".comment").find($("*[name='JCommentUl']")).prop("outerHTML");
        var JCommentUl = $(this).closest(".comment").find("[name='comment_load_box']");
        if ($(this).hasClass("active")) { //已添加过
            //JCommentUl.load("/info/"+$(this).closest(".comment").find(".info_id").text()+"/comments" + "/1");
            JCommentUl.empty();
            //JCommentUl.append(init_JCommentUl);
        } else {
            JCommentUl.load("/info/" + $(this).closest(".comment").find(".info_id").last().text() + "/comments" + "/1");
        }
        $(this).toggleClass("active");
        $(this).children("i").toggleClass("top");
        $("[name=arrow-icon]").toggleClass("active");
    });

    // 隐藏评论表单
    $(document).on("click", ".Jformhide", function() {
        $(this).parents(".Jcommentform").hide().prev(".Jinput").show();
    });
    
    $(function(){
        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
        $(function () {
            $(window).scroll(function(){
                if ($(window).scrollTop()>100){
                    $("#back-to-top").fadeIn(100);
                }
                else
                {
                    $("#back-to-top").fadeOut(100);
                }
            });

            //当点击跳转链接后，回到页面顶部位置
            $("#back-to-top").click(function(){
                if ($('html').scrollTop()) {
                    $('html').animate({ scrollTop: 0 }, 100);//动画效果
                    return false;
                }
                $('body').animate({ scrollTop: 0 }, 100);
                return false;
            });
        });
    });

});

</script>
</body>
</html>
