<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>注册 - 尚课学</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link href="../static/css/icheck/icheck_all.css" rel="stylesheet" th:href="@{/css/icheck/icheck_all.css}">
    <link href="../static/css/user.css" rel="stylesheet" th:href="@{/css/user.css}" />
</head>

<body>
    <div class="container text-center">
        <div class="row">
            <div class="login-content">
                <div class="login-body">
                    <form action="#" method="post" th:action="@{/register}">
                        <div class="full-auth mt-3">
                            <!-- <label for="account">输入手机或邮箱</label> -->
                            <input class="login_field" id="account" name="account" th:data-url="@{/register/account/detect}" type="text" placeholder="输入手机或邮箱">
                            <span class="help-block" data-error="account"></span>
                        </div>
                        <div class="full-auth mt-3">
                            <!-- <label for="password">输入6至16位密码</label> -->
                            <input class="login_field" id="pwd1" name="npassword" type="password" placeholder="输入6至16位密码">
                            <span class="help-block" data-error="npassword"></span>
                        </div>
                        <div class="full-auth mt-3">
                            <!-- <label for="password">确认密码</label> -->
                            <input class="login_field" id="pwd2" name="cpassword" type="password" onkeyup="validate()" placeholder=" 确认密码 ">
                            <span class="help-block " data-error="cpassword "></span>
                            <span id="tishi"></span>
                        </div>



                        <div class="user_fuwu full-auth vericodes_register full-width ">

                        </div>
                        <button type="button " class="btn btn-default btn-color " id="btn_register " name="submit ">确定注册</button>
                    </form>
                </div>
                <div class="create-account ">
                    <span>已有账号？<a href="login.html " th:href="@{/login} " class="signup-link ">直接登录</a></span>
                    <a th:href="@{/forget} " href="forget.html " class="forgets-password doo ">忘记密码?</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer_in_bottom ">
        Copyright &copy; 2017 youkke.com
        <ul class="f-menu ">
            <li><a href="# ">首页</a></li>
            <li><a href="# ">隐私权</a></li>
            <li><a href="# ">服务条款</a></li>
            <li><a href="# ">发送反馈</a></li>
            <li><a href="# ">常见问题</a></li>
            <li><a href="# ">帮助</a></li>
            <li><a href="# ">联系我们</a></li>
        </ul>
    </footer>


    <script src="../static/js/jquery-1.11.3.min.js " th:src="@{/js/jquery-1.11.3.min.js} "></script>
    <script src="../static/js/bootstrap.min.js " th:src="@{/js/bootstrap.min.js} "></script>
    <link rel="stylesheet " href="../static/js/messenger/css/messenger.css " th:href="@{/js/messenger/css/messenger.css} ">
    <link rel="stylesheet " href="../static/js/messenger/css/messenger-theme-flat.css " th:href="@{/js/messenger/css/messenger-theme-flat.css} ">
    <script src="../static/js/messenger/js/messenger.min.js " th:src="@{/js/messenger/js/messenger.min.js} "></script>
    <script src="../static/js/messenger/js/messenger-theme-flat.js " th:src="@{/js/messenger/js/messenger-theme-flat.js} "></script>
    <script src="../static/js/base.js " th:src="@{/js/base.js} "></script>
    <script src="../static/js/forget.js " th:src="@{/js/forget.js} "></script>
    <script>
        function validate(pwd1, pwd1) {

            var pwd1 = document.getElementById("pwd1").value;
            var pwd2 = document.getElementById("pwd2").value;
            // <!-- 对比两次输入的密码 -->
            if (pwd1 == pwd2) {
                document.getElementById("tishi").innerHTML = "<font color='green'>两次密码相同</font>";
            } else {
                document.getElementById("tishi").innerHTML = " <font color='red'> 两次密码不相同 </font>";
            }
        }
        $(function() {


            $("#btn_send").prop("disabled", true);
            $("[data-error]").html("");
            $("[name='account']").change(function(e) {
                var url = $(this).data("url");
                var account = $(this).val();
                var name = "[data-error='account']";
                $.post(url, {
                    account: account
                }, function(json) {
                    if (json.result == "exist") {
                        $(name).html("账号被占用。");
                    } else if (json.result == "format_error") {
                        $(name).html("请输入邮箱或手机号。");
                    } else if (json.result == "email" || json.result ==
                        "mobile") {
                        $(name).html("可用。");
                        $("#btn_send").prop("disabled", false);
                    }
                }, "json");
            });
            $("#btn_send").click(function(e) {
                var form = $(this).parents("form");
                var url = $(this).data("url");
                var account = form.find("[name='account']").val();
                resetSend();
                post(form, url, {
                    account: account
                });
            });
        });
    </script>
    <script src="../static/js/icheck.min.js" th:src="@{/js/icheck.min.js}"></script>
</body>

</html>